<p>
  A simulated Puppet Enterprise infrastructure has been constructed on the
  classroom server. Each student has an environment providing a sandboxed
  container for Puppet code and configuration. The classroom server is also
  running the unmodified Puppet Enterprise Console with an account for each
  student.
</p>

<p>
  Students have full <code>root</code> access on their container, meaning that all
  Puppet commands and resources work as expected. Each container also exposes
  port 80 as a high port proxied from the Master, meaning that students are able
  to run a web server inside their sandbox environment. A link to this proxied
  port is listed for each user on the <em>Users</em> tab.
</p>

<h3>Resources:</h3>
<ul>
  <li><a href="http://<%= request.host %>:9090" target="_showoff">Course Material Presentation</a>
    <ul>
      <li>Follow along with the instructor's slides, or navigate it independently.</li>
    </ul>
  </li>
  <li><a href="https://<%= request.host %>" target="_console">Puppet Enterprise Console</a>
    <ul>
      <li>Log into the PE Console using the credentials of the user account you created.</li>
    </ul>
  </li>
<% if settings.plugins.include? :Gitea -%>
  <li><a href="http://<%= request.host %>:3000" target="_gitea">Git Repository Server</a>
    <ul>
      <li>Log into the Gitea server using the credentials of the user account you created.</li>
    </ul>
  </li>
<% end -%>
</ul>

<h3>Accessing your environment:</h3>

<ol>
  <li>First create your account on the <em>Users</em> tab.</li>
  <li>Log in to your sandbox following the directions on the <em>SSH Login</em> tab.</li>
  <li>Log in to the <a href="https://<%= request.host %>" target="_console">Puppet Enterprise Console</a></li>
<ol>
