<html>
<head>
    <title>PuppetFactory</title>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="jstree-3.3.3/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/jquery.activity-indicator-1.0.0.min.js"></script>
    <script type="text/javascript" src="jstree-3.3.3/jstree.min.js"></script>
</head>
<body>
  <div id="tabs">
    <header>
      <ul>
        <img src="/images/Puppet-Logo-Amber-White-sm.png" alt="logo" id="nav-logo">
        <% if @existinguser || privileged? %>
          <li><a href="#home">Home</a></li>
          <li><a href="/users">Users</a></li>
          <li><a class="cache" href="/shell">SSH Login</a></li>
          <% @tabs.each do |url, title| %>
            <li><a href="/<%= url %>"><%= title %></a></li>
          <% end %>
        <% end %>
      </ul>
      <% unless privileged? %><a href="/login" id="login">Admin Login</a><% end %>
    </header>
    <article>
      <h1>Puppet Training Classroom Manager</h1>
      <div id="home">
      <% if @existinguser || privileged? %>
        <%= erb :home %>
      <% else %>
        <%= erb :newuser %>
      <% end -%>
      </div>
    </article>
  </div>
</body>
</html>
