<div id="logs">
  <h3><%= @logfile %></h3>
  <div class="data"></div>
</div>

<script type="text/javascript">
  function loadLogs(force) {
    $("#logs .data").load("logs/data", function() {
      var elem = $(this)[0]
      // track the bottom of the logs, unless we've scrolled away
      if(force || (elem.scrollHeight - elem.scrollTop - elem.clientHeight < 100)) {
        $(this).animate({scrollTop: elem.scrollHeight}, 500);
      }

      // use timeout instead of an interval so that in case of network error
      // we don't end up with a queue of requests stacked up.
      setTimeout(loadLogs, 5000);
    });
  }

  $(document).ready(function() {
    loadLogs(true);
  });
</script>

<style>
  #logs .data {
    font-family: monospace;
    white-space: pre-wrap;
    height: 500px;
    overflow-y: scroll;
  }
</style>
