<div id="newuser">
  <h3>Create a new user</h3>
  <div>
    <label for="user">Username:</label><input type="text" id="user" value="" />
  </div>
  <div>
    <label for="password">Password:</label><input type="password" id="password" value="" />
  </div>
  <div>
    <label for="password2">Repeat:</label><input type="password" id="password2" value="" />
  </div>
  <div>
    <label for="session">Session ID:</label><input type="text" id="session" value="" />
    <p></p>
  </div>
  <div>
    <label for=""></label> <!-- literally just a space saver -->
    <input type="button" id="save" value="Submit" />
  </div>
</div>
<script type="text/javascript" src="js/usermanagement.js"></script>
