<div id="shell">
  <% if @current %>
    <iframe id="console" src="/shell/login/"></iframe>
    <div>
      <i id="instruction-toggle" class="fa fa-question-circle-o toggle" data-target="instruction"></i>
    </div>
    <script>
      $(document).ready(function() {
        $("#instruction").hide();
      });
    </script>

  <% else %>
    <h2>Welcome to the Puppet Classroom.</h2>
    <p>Please log in or create a user account.</p>    
  <% end -%>
  <div id="instruction">
    <p>
      We will provision a Puppet agent node for you and you'll use it to complete labs and
      exercises. This node can be accessed through a web terminal once you've logged in.
    </p>
    <p>
      If you prefer, you may also use any standard SSH client using the username
      and password you specified. Some common SSH clients include:
    <p>
    <ul>
      <li>
        Built-in to Mac OSX and Linux:
        <ol>
          <li>Start Terminal.app or any terminal emulator to get to the command line</li>
          <li>Run <code>ssh <%= request.host %></code></li>
        </ol>
      </li>
      <li>
        Windows:
        <ul>
          <li><a href="https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH">OpenSSH</a></li>    
          <li><a href="http://the.earth.li/~sgtatham/putty/latest/x86/putty.exe">PuTTY</a></li>
          <li><a href="http://winscp.net/eng/download.php#download2" target="_new">WinSCP</a></li>
          <li><a href="http://www.vandyke.com/download/securecrt/download.html" target="_new">SecureCRT</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
