<div id="login">
  <h3>Login</h3>
  <div>
    <label for="login-user">Username:</label><input type="text" id="login-user" value="" />
  </div>
  <div>
    <a href="#" id="login-submit" class="button">Login</a>
  </div>
</div>