body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}

header,
footer {
  position: fixed;
  background-color: #222222;
  color: #ffffff;
  width: 100%;
}

hr {
  border: none;
  border-top: 2px solid #222222;
  margin: 2em 0 1em;
}

article {
  margin: 6em 4em 2em 4em;
}

a {
  text-decoration: none;
  color: #3880ff;
  border-bottom: 2px solid transparent;
  transition-duration: .2s;
}

a:focus,
li:focus,
input:focus,
button:focus {
  outline: none;
}

code {
  background-color: #ddd;
  border-bottom: 2px dotted #aaa;
  padding: 0.25em;
}

header {
  height: 4em;
  top: 0;
  overflow-x: scroll;
  white-space: nowrap;
}

header ul,
header li,
header a {
  display: inline-block;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header a {
  margin: 1.2em 1em;
  color: #ffffff;
}

a:hover {
  border-color: #3880ff;
}

header a:hover,
.ui-tabs-active a,
#admin-login:hover {
  color: #ffae1a;
  border-color: #ffae1a;
}

input[type="button"],
.ui-dialog button,
.button {
  padding: .5em 1em;
  border: none;
  background-color: #ffae1a;
  color: #ffffff;
  font-size: 1em;
  transition-duration: .2s;
}
input[type="button"]:hover {
  opacity: .7;
}

li {
  margin-bottom: .5em;
}

table {
  width: 100%;
  border-spacing: 0;
}

th, td {
  padding-top: .5em;
  padding-bottom: .5em;
}

tr:nth-child(2n+2) {
  background: #ECEFF1;
}

input[type="text"],
input[type="password"] {
  font-size: .8em;
  width: 100%;
  max-width: 100%;
  padding: 8px 12px;
  border: 2px solid #dedede;
  outline: none;
}

input.fail {
  background-color: #f88484;
  border-color: #d63700;
}

.flexrow { display: flex; }

.flex-6 { flex: 6; }
.flex-2 { flex: 2; }

.flex-right { margin-left:  .5em; }
.flex-left  { margin-right: .5em; }

.ui-dialog {
  background-color: #ffffff;
  padding: 1em 2em;
  box-shadow: 0 0 2em #4e4e4e;
}

.ui-dialog-titlebar-close {
  display: none;
}

.pull-right {
  float: right;
}

.tabs {
  display: flex;
}

.tab {
  padding: .5em 1em;
  cursor: pointer;
  font-weight: bold;
}

.tab.active {
  background: #ECEFF1;
}

.tab-content {
  display: none;
  padding: 1em;
  background: #ECEFF1;
}

.tab-content.current {
  display: block;
}

.tab-content div {
  margin-bottom: 1em;
}

#instruction-toggle {
  font-size: 1.4em;
  padding: .25em;
}

#nav-logo {
  float: left;
  padding: 1em 1em 1em 2em;
  height: 2em;
}

#admin-login,
#admin-logout {
  float: right;
  margin: 1.2em 2em;
  color: #ffffff;
}

#userslist {
  display: none;
}

#newuser.processing input {
  background: #dedede;
  border: #4e4e4e;
}

#currentuser div {
  margin: 0;
  padding: .5em 1em;
}

#currentuser div:nth-child(2n+1) {
  background: #ECEFF1;
}

#currentuser div div {
  margin: 0;
  padding: 0;
}

#currentuser label {
  font-size: .8em;
}

#currentuser input {
  margin-top: 1em;
}

#users {
  margin-top: 1em;
}

#users th {
  border-bottom: 2px solid #4e4e4e;
}

#users td {
  text-align: center;
}

#console {
  width: 100%;
  height: 36em;
}

#explanation {
  display: none;
}

#notifications {
  color: #666;
}

#notifications.fail {
  font-weight: bold;
  background-color: red;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

#tools {
  float: right;
  top: 1em;
  margin-bottom: 0.5em;
}

#tools * .ui-button-text {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#dashboard .user {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0 0.5em 0.5em;
  margin: 0.5em 0;
  clear: both;
}

#dashboard .gutter {
  background-color: #ffdddd;
  border-radius: 0.25em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

#dashboard .gutter .label {
  float: right;
  padding-right: 1em;
}

#dashboard .completed {
  white-space: nowrap;
  overflow-x: visible;
  background-color: #80f36f;
  border-radius: 0.25em;
  min-width: 0.25em;
  border: 1px solid #666;
}

#dashboard .completed a {
  text-decoration: none;
}

#dashboard .completed a:hover {
  border-bottom: 2px solid black;
}

#logs .data {
  font-family: monospace;
  font-size: 1.2em;
  white-space: pre-wrap;
}

#gitviz {
  width: 100%;
  min-height: 600px;
}

@media ( max-width: 1024px ) {
  .flexrow { flex-direction: column; }

  .flex-right { margin-left:  0; }
  .flex-left  { margin-right: 0; }
}