table {
  width: 100%;
  border: 1px solid #ccc;
  background: #efefef;
  border-spacing: 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
tr.even {
  background: #b3c6ae;
}

li {
  margin-bottom: 0.5em;
}

#login {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 8pt;
  opacity: 0;
}
#login:hover {
  opacity: 1;
}

#usercontent {
  position: relative;
}

#newuserwrapper {
  position: absolute;
  top: 0;
  right: 0;
}

#newuserwrapper.open {
  border: 1px solid #cfcfcf;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.6);
}

#newuser {
  display: none;
  width: 16em;
  margin-top: 0.5em;
}

#newuser table {
  padding: 0.25em 0;
}

#newuser.processing table,
#newuser.processing table input {
  background: #565656;
  color: #2a2929;
}

#newuser.processing table {
  border-color: #565656;
}

#newuser td.label {
  text-align: right;
  font-size: small;
  font-weight: lighter;
}

#newuser table input.fail {
  background: #f88484;
}

table#currentuser th.header {
  width: 10%;
  white-space: nowrap;
  text-align: right;
  padding-right: 1em;
}
table#currentuser tr.actions {
  text-align: right;
}

table#users {
  margin-top: 1em;
}

table#users th {
  border-bottom: 2px solid #999;
}

table#users td {
  border-right: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0 0.5em;
  text-align: center;
}

table#users td.select {
  font-size: 0.8em;
}

#console {
  width: 100%;
  height: 24em;
}

#shell code {
  background-color: #ddd;
  border-bottom: 2px dotted #aaa;
  padding: 0.25em;
}

#alternate,
#explanation {
  display: none;
}

#show-alternate {
  float: right;
  margin-left: 0.5em;
}

#dashboard {

}

#dashboard #notifications {
  font-size: 0.5em;
  color: #666;
}

#dashboard #notifications.fail {
  font-weight: bold;
  background-color: red;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

#dashboard #tools {
  float: right;
  top: 1em;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

#dashboard #tools * {
  font-size: 0.8em;
}

#dashboard #tools * .ui-button-text {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#dashboard .user {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0 0.5em 0.5em;
  margin: 0.5em 0;
  clear: both;
}

#dashboard .gutter {
  background-color: #ffdddd;
  border-radius: 0.25em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  font-size: 0.8em;
}

#dashboard .gutter .label {
  float: right;
  padding-right: 1em;
}

#dashboard .completed {
  white-space: nowrap;
  overflow-x: visible;
  background-color: #80f36f;
  border-radius: 0.25em;
  min-width: 0.25em;
  border: 1px solid #666;
}

#dashboard .completed a {
  font-size: 0.5em;
  text-decoration: none;
}

#dashboard .completed a:hover {
  border-bottom: 2px solid black;
}

#gitviz {
  width: 100%;
  min-height: 600px;
}