<html>
<head>
    <title>Puppet Labs Training Classroom Manager</title>
    <link rel="stylesheet" type="text/css" href="jquery-ui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <script type="text/javascript" src="jquery.activity-indicator-1.0.0.min.js"></script>
</head>
<body>
    <h1>Puppet Labs Training Classroom Manager</h1>
    <div id="tabs">
      <ul>
    		<li><a href="#home">Home</a></li>
    		<li><a href="users">Users</a></li>
    		<li><a class="cache" href="/login">SSH Login</a></li>
    	</ul>
    	<div id="home">
      	<%= erb :home %>
    	</div>
    </div>
</body>
</html>
